<div class="about-member-item d-flex">
  <!-- <div class="about-member-left-bar">
  </div> -->
  <div class="about-member-container">
    <img src="{{'bartenders-corner.png' | asset_url}}"/>
    <h2>freddie sarkis</h2>
    <h3>Chief Cocktail Officer</h3>
    <p>
      Former National Brand Ambassador
      for Beefeater Gin and Plymouth Gin.
      Opened the iconic Sable Kitchen and Bar,
      Celeste, and The Broken Shaker Chicago.
    </p>
  </div>
</div>
